<% provide(:title, @persona.nombre1) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= @persona.nombre1 %> 
      	<%= @persona.nombre2 %> 
      	<%= @persona.apellido1 %> 
      	<%= @persona.apellido2 %>
      </h1>
    </section>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/gestion_form' %>
        </section>
      </aside>
    </div>
  </aside>
  <div class="span8">
    <% if @persona.gestions.any? %>
      <h3>Gestiones (<%= @persona.gestions.count %>)</h3>
      <ol class="gestions">
        <%= render @gestions %>
      </ol>
      <%= will_paginate @gestions %>
    <% end %>
  </div>
</div>
